@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

// debug
.debug {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px dashed red;
    color: red;
}

.card-image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 150px;
    overflow: hidden;
    img {
        object-fit: cover;
        position: relative;
        bottom: 50%;
        left: 0;
    }
}
