@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

// debug
.debug {
    background-color: rgba(255, 0, 0, 0.3);
    border: 1px dashed red;
    color: red;
}

.card-image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 150px;
    overflow: hidden;
    img {
        object-fit: cover;
        position: relative;
        bottom: 50%;
        left: 0;
    }
}

// test
#suggerimenti {
    color: #333333;
    position: absolute;
    display: none;
    border: 1px solid #ccc;
    max-width: 50%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #999999;
}

#suggerimenti ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#suggerimenti li {
    padding: 8px;
    cursor: pointer;
}

#suggerimenti li:hover {
    background-color: #777777;
}
